* {
    overflow: auto;
}

nav {
    background-color: #bdc3c7;
    padding: 5px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.logo {
    float: left;
}

.navbar {
    float: right;
}

th {
    text-align: left;
}

footer {
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    padding: 5px;
    text-align: center;
    font-weight: bold;
}